In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
# loc is used for filtering rows and selecting columns by label
ufo.loc[0, :] # row zero, all columns

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [7]:
ufo.loc[0:2, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [8]:
ufo.loc[0:2]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [11]:
ufo.loc[:, ['City', 'State']] # City, State

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [12]:
ufo.loc[:, 'City':'State'] # city through State

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [13]:
ufo.loc[0:2, 'City': 'State'] # rows 0 through 2 and City through State

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [14]:
ufo.head(3).drop('Time', axis=1) 
# accomplishes same as
# ufo.loc[0:2, 'City': 'State'] # rows 0 through 2 and City through State

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [15]:
ufo[ufo.City == 'Oakland']
# where City is Oakland

          City Colors Reported Shape Reported State              Time
1694   Oakland             NaN          CIGAR    CA   7/21/1968 14:00
2144   Oakland             NaN           DISK    CA    8/19/1971 0:00
4686   Oakland             NaN          LIGHT    MD     6/1/1982 0:00
7293   Oakland             NaN          LIGHT    CA   3/28/1994 17:00
8488   Oakland             NaN            NaN    CA   8/10/1995 21:45
8768   Oakland             NaN            NaN    CA  10/10/1995 22:40
10816  Oakland             NaN          LIGHT    OR   10/1/1997 21:30
10948  Oakland             NaN           DISK    CA  11/14/1997 19:55
11045  Oakland             NaN       TRIANGLE    CA   12/10/1997 1:30
12322  Oakland             NaN       FIREBALL    CA   10/9/1998 19:40
12941  Oakland             NaN       CYLINDER    CA   1/23/1999 21:30
16803  Oakland             NaN       TRIANGLE    MD    7/4/2000 23:00
17322  Oakland             NaN       CYLINDER    CA    9/1/2000 21:35

In [16]:
ufo.loc[ufo.City == 'Oakland', :]
# , : means -> columns all

          City Colors Reported Shape Reported State              Time
1694   Oakland             NaN          CIGAR    CA   7/21/1968 14:00
2144   Oakland             NaN           DISK    CA    8/19/1971 0:00
4686   Oakland             NaN          LIGHT    MD     6/1/1982 0:00
7293   Oakland             NaN          LIGHT    CA   3/28/1994 17:00
8488   Oakland             NaN            NaN    CA   8/10/1995 21:45
8768   Oakland             NaN            NaN    CA  10/10/1995 22:40
10816  Oakland             NaN          LIGHT    OR   10/1/1997 21:30
10948  Oakland             NaN           DISK    CA  11/14/1997 19:55
11045  Oakland             NaN       TRIANGLE    CA   12/10/1997 1:30
12322  Oakland             NaN       FIREBALL    CA   10/9/1998 19:40
12941  Oakland             NaN       CYLINDER    CA   1/23/1999 21:30
16803  Oakland             NaN       TRIANGLE    MD    7/4/2000 23:00
17322  Oakland             NaN       CYLINDER    CA    9/1/2000 21:35

In [17]:
ufo[ufo.City == 'Oakland'].State # chained indexing = not good

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

In [18]:
ufo.loc[ufo.City == 'Oakland', 'State'] # this is better

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

In [19]:
# iloc -> filtering by rows and columns by integer position
ufo.iloc[:, [0, 3]] # positions row and three in database

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [20]:
ufo.iloc[:, 0:4] # range iloc is exclusive of second number, inclusive of first
# so shows rows 0 through 3 (excludes four)

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [21]:
ufo.iloc[0:3, :] # rows 0, 1, 2 and all columns

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00